* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: 'Inter', sans-serif;
}

.fullWrapper {
    display: flex;
}

.sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 100%;
    background-color: #E7EEFF;
    padding: 12px 28px 708px 28px;
}

.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #002B81;
}

.logoWrapper img {
    width: 48px;
    height: 48px;
}

.headerNavWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.headerNavLogoWrapper {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 12px;
}

.headerNavWrapper img {
    width: 32px;
    height: 32px;
}

/* Content Wrapper */
.contentWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #E7EEFF;
    width: 100%;
}

.searchWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.searchWrapper img {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.searchWrapper span {
    color: #000;
    font-weight: 400;
    line-height: 28px;
}

.userWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.userWrapper span {
    color: #5E6577;
    font-weight: 500;
    line-height: 24px;
}

.userWrapper img {
    width: 40px;
    height: 40px;
    border-radius: 60px;
}

main {
    display: flex;
    flex-direction: column;
    padding-right: 96px;
    padding-left: 96px;
    padding-bottom: 32px;
    gap: 42px;
}

.basicInfo {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.infoContainer {
    display: flex;
    padding: 8px 24px 8px 12px;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    background: #E7EEFF;
}

.infoContainer span {
    color: #323232;
    font-weight: 400;
    line-height: 28px;
}

.infoContainer:hover {
    color: #323232;
}

.contentConainer {
    display: flex;
    width: auto;
    align-items: center;
    gap: 42px;
}


.houseWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.houseWrapper img {
    height: 275px;
    align-self: stretch;
    border-radius: 24px 24px 0px 0px;
    background: lightgray 50%;
}

.abouthouse {
    display: flex;
    padding: 8px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: 0px 0px 24px 24px;
    background: #E7EEFF;
}

.houseStyle {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    align-self: stretch;
}

.adress {
    color: #606060;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    align-self: stretch;
}